{% extends "base.html" %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script>
jQuery(document).ready(function() {
	var delay = 8 * 1000;
	var refresh = function() {
		$('#js-dashboard').load('/#js-dashboard', function() {
		    // causes document to load again
		});
	};
	setTimeout(refresh, delay);
});
</script>
{% endblock %}


{% block content %}
<div class="dashboard" id="js-dashboard">
	<table class="dashboard-table">
		<thead>
			<tr>
				<th>Queue</th>
				<th class="text-right">Workers</th>
				<th class="text-right">Task count</th>
			</tr>
		</thead>
		<tbody>
		{% for queue_name, queue_dict in queues.items() %}
			<tr>
				<td class=""><a href="/queue/{{ queue_name }}">{{ queue_name }}</a></td>
				<td class="dashboard-table-value">{{ queue_dict.workers }}</td>
				<td class="dashboard-table-value">{{ queue_dict.queue.count }}</td>
			</tr>
		{% endfor %}
		</tbody>
		{% if failed_queue %}
			<tfoot>
				<tr>
					<td><a href="/queue/{{ failed_queue.name }}">{{ failed_queue.name }}</a></td>
					<td class="dashboard-table-value"></td>
					<td class="dashboard-table-value">{{ failed_queue.count }}</td>
				</tr>
			</tfoot>
		{% endif %}
	</table>
</div>
{% endblock %}