{% extends "base.html" %}

{% block meta %}
	<meta http-equiv="refresh" content="10">
{% endblock %}

{% block content %}
<div class="dashboard">
	<table class="dashboard-table">
		<thead>
			<tr>
				<th>Queue</th>
				<th class="text-right">Workers</th>
				<th class="text-right">Task count</th>
			</tr>
		</thead>
		<tbody>
		{% for queue_name, queue_dict in queues.iteritems() %}
			<tr>
				<td class=""><a href="/queue/{{ queue_name }}">{{ queue_name }}</a></td>
				<td class="dashboard-table-value">{{ queue_dict.workers }}</td>
				<td class="dashboard-table-value">{{ queue_dict.queue.count }}</td>
			</tr>
		{% endfor %}
		</tbody>
		{% if failed_queue %}
			<tfoot>
				<tr>
					<td><a href="/queue/{{ failed_queue.name }}">{{ failed_queue.name }}</a></td>
					<td class="dashboard-table-value"></td>
					<td class="dashboard-table-value">{{ failed_queue.count }}</td>
				</tr>
			</tfoot>
		{% endif %}
	</table>
</div>
{% endblock %}