{% extends 'base.html' %}

{% block content %}

	<h2>{{ queue.name }}</h2>

	{% if queue.count %}

		{% if queue.name == 'failed' %}
			<a href="/queue/failed/requeue-all">Requeue all</a>
		{% endif %}
		<a href="/queue/{{ queue.name }}/clear">Clear</a>

		<table>
			<thead>
			<tr>
				{% if queue.name == 'failed' %}
					<th></th>
				{% endif %}
				<th>Created</th>
				<th>Status</th>
				<th>Description</th>
				<th>Exc info</th>
				<th>Job Id</th>
			</tr>
			</thead>
			{% for job in queue.jobs|sort(attribute='created_at', reverse=True)%}
				<tr>
					{% if queue.name == 'failed' %}
						<td><a href="/queue/failed/job/{{ job.id }}/requeue">Reqeue</a></td>
					{% endif %}
					<td>{{ job.created_at }}</td>
					<td>{{ job.status }}</td>
					<td>{{ job.description }}</td>
					<td>
						<pre>
 							{{ job.exc_info }}
 						</pre>
					</td>
					<td>{{ job.id }}</td>
				</tr>
			{% endfor %}
		</table>

	{% else %}
		<p>No jobs in queue</p>
	{% endif %}

{% endblock %}