{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h2>{{ queue.name }}</h2>

	{% if queue.count %}

		{% if queue.name == 'failed' %}
			<form action="/queue/failed/requeue-all" method="POST">
				<button type="submit">Requeue all</button>
			</form>

			<form action="/queue/{{ queue.name }}/clear" method="POST">
				<button type="submit">Clear</button>
			</form>

		{% endif %}

		<div class="queue">
            <h1>Enqueued</h1>
			{% for job in queue.jobs|sort(attribute='created_at', reverse=True)%}
				<div class="queue-job">
					{% if queue.name == 'failed' %}
						<div class="queue-job-part">
							<table class="table">
								<tbody>
									<tr>
										<td>{{ job.description }}</td>
										<td>
											<form action="/queue/failed/job/{{ job.id }}/requeue" method="POST">
												<button type="submit">Requeue</button>
											</form>
										</td>
										<td>
											<form action="/queue/failed/job/{{ job.id }}/clear" method="POST">
												<button type="submit">Clear</button>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					{% endif %}
					<div class="queue-job-part">
						<table class="table">
							<tbody>
								<tr>
									<td>{{ job.created_at }}</td>
									<td>{{ job.status }}</td>
									<td>{{ job.id }}</td>
									<td>{{ job.description }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="queue-job-part">
						<pre>
							{{ job.exc_info }}
						</pre>
					</div>
				</div>
			{% endfor %}
			{% if running_jobs %}
				{% include 'running_jobs.html' %}
			{% endif %}
		</div>
	{% elif running_jobs %}
		{% include 'running_jobs.html' %}
	{% else %}
		<p>No jobs in queue</p>
	{% endif %}
</div>
{% endblock %}
