{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h2>{{ queue.name }}</h2>

	{% if queue.count %}

		{% if queue.name == 'failed' %}
			<form action="/queue/failed/requeue-all" method="POST">
				<button type="submit">Requeue all</button>
			</form>

			<form action="/queue/{{ queue.name }}/clear" method="POST">
				<button type="submit">Clear</button>
			</form>

		{% endif %}

		<table class="table">
			<colgroup>
				{% if queue.name == 'failed' %}
					<col width="10%" />
				{% endif %}
				<col width="10%" />
				<col width="5%" />
				<col width="25%" />
				<col width="40%" />
				<col width="10%" />
			</colgroup>
			<thead>
			<tr>
				{% if queue.name == 'failed' %}
					<th></th>
				{% endif %}
				<th>Created</th>
				<th>Status</th>
				<th>Description</th>
				<th>Exc info</th>
				<th>Job Id</th>
			</tr>
			</thead>
			{% for job in queue.jobs|sort(attribute='created_at', reverse=True)%}
				<tr>
					{% if queue.name == 'failed' %}
						<td>
							<form action="/queue/failed/job/{{ job.id }}/requeue" method="POST">
								<button type="submit">Requeue</button>
							</form>
							<form action="/queue/failed/job/{{ job.id }}/clear" method="POST">
								<button type="submit">Clear</button>
							</form>
						</td>
					{% endif %}
					<td>{{ job.created_at }}</td>
					<td>{{ job.status }}</td>
					<td>{{ job.description }}</td>
					<td>
						<pre>
 							{{ job.exc_info }}
 						</pre>
					</td>
					<td>{{ job.id }}</td>
				</tr>
			{% endfor %}
		</table>

	{% else %}
		<p>No jobs in queue</p>
	{% endif %}
</div>
{% endblock %}