<h1>Running jobs</h1>
    <div class="queue-job-part">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="text-right">Status</th>
                    <th class="text-right">Name</th>
                    <th class="text-right">Args</th>
                    <th class="text-right">Kwargs</th>
                    <th class="text-right">Timeout</th>
                    <th class="text-right">Created at</th>
                </tr>
            </thead>
            <tbody>
            {% for job in running_jobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.status }}</td>
                    <td>{{ job.cleaned_func_name }}</td>
                    <td>{{ job.cleaned_args }}</td>
                    <td>{{ job.cleaned_kwargs }}</td>
                    <td>{{ job.timeout }}</td>
                    <td>{{ job.created_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
